main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.teamList {
    list-style-image: url("../../assets/images/basketball-team.png");
}

.listItems {
    background-color: orange;
    padding: 0 0 10px 10px;
    width: 350px;
    border-radius: 10px;
    box-shadow:  2px 2px 2px black;
}

.userContainer, .opponentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

