* {
    box-sizing: border-box;
}

.playerListContainer {
    display: flex;
    flex-direction: column;
    font-size: .7rem;
}

#addBtn {
    background-color: hsla(114, 73%, 57%, 1);
}

#editBtn {
    background-color: hsla(215, 73%, 57%, 1);
}

#deleteBtn {
    background-color: hsla(360, 83%, 67%, 1);
}

#playerList {
    list-style-image: url("../../assets/images/basketball-list.png");
}

#playerListItems {
    background-color: orange;
    padding: 0 0 10px 10px;
    width: 350px;
    border-radius: 10px;
    box-shadow:  2px 2px 2px black;
}

#title {
    background-color: hsla(0, 0%, 18%, 0.8);
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.5rem;
    width: 250px;
    border-radius: 10px;
    padding: 5px;
}