#root {
  margin: 0 auto;
  height: 92dvh;
  padding: 2rem;
  background-color: #F5F5F5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: #333;
}
